
.logo {
    width: 30%;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

.spinner{
    display: unset;
    top: 8%;
    right: 44%;
}

@media screen and (max-width: 1050px){
    .spinner{
        display: unset;
        top: 8%;
        right: 42%;
    }
}

@media screen and (max-width: 900px){
    .spinner{
        display: unset;
        top: 8%;
        right: 40%;
    }
}

.bt {
    width: 90%;
}

.bouton_recherche{
    display: flex;
    flex-direction: row;
}

.bloc_02 {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.bloc_02 div {
    width: 100%;
    display: flex;
    padding-bottom: 20px;
    flex-direction: row;
    align-items: center;
}

.bloc_03 {
    display: flex;
    flex-direction: row;
    margin-top: 31px;
    align-items: center;
    background-color: #ffffff;
    padding-top: 0px;
    padding-bottom: 0px;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.rest{
    margin-left: 20px;
    margin-bottom: 40px;
}

footer img{
    width: 15%;
}

footer{
    align-items: center;
}




