body{
    width: 100%;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    position: relative;
}

.spinner {
    position: absolute;
    border: 16px solid #e4e4e4;
    border-top: 16px solid rgb(221,110,218);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    opacity: 0;
    animation: spin 3s linear, opacity 3.0s;
    top: 8%;
    right: 27%;
    z-index: 999;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes opacity {
    0% { opacity: 100%;}
    95% { opacity: 100%;}
    100% { opacity: 0;}
}

main {
    opacity:1;
    animation: opacity_main 3s;
}

@keyframes opacity_main {
    0% { opacity: 0.3;}
    100% { opacity: 0.3;}
}

@media screen and (min-width: 500px){
    .spinner{
        display: unset;
        top: 8%;
        right: 36%;
    }
}

header{
    display: flex;
    flex-direction: column;
    padding-top: 23px;
}

.logo{
    width:100%;
    display: flex;
    justify-content: center;
}

.logo img{
    width:32%;
}

.barre_recherche input{
    border: none;
    font-size: 17px;
    background-color: rgb(234, 234, 234, 255);
    width: 95%;
}

.barre_recherche form{
    width: 46%;
}

.barre_recherche i{
    margin-right: 15px;
    font-size: 17px;
    padding-left: 40px;
}

.barre_recherche {
    width: 100%;
    justify-content: center;
    display: flex;
    height: 50px;
    align-items: center;
    background-color: rgb(234, 234, 234, 255);
    margin-top: 15px;
    box-shadow: 0 3px 5px -5px rgb(75, 74, 74) inset;
}

.bloc_01{
    background-color: rgb(246, 246, 246);
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 17px;
    justify-content: center;
    padding-top: 45px;
    padding-bottom: 45px;
}

.bloc_01 button{
    height: 50px;
    width: 216px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
    background: linear-gradient(rgb(221,110,218),rgb(161,91,220));
    border: none;
    border-radius: 50px;
    box-shadow: 0px 2px 3px 2px rgb(221, 216, 216);
}

.explorer:hover {
    box-shadow: 4px 4px 5px 4px rgb(168, 164, 164);
    background: linear-gradient(rgb(226, 132, 223),rgb(181, 120, 231));
}

.bloc_01 strong{
    font-size: 24px;
}

.card {
    flex: 1;
    padding: 0.9rem;
}

.animation_menu {
    width: 18%;
    align-items: center;
    justify-content: center;
    background: #99E2D0;
    border-radius: 0 20px 20px 0;
    display: none;
    animation: slideLeft 0.5s;
}

.plat {
    width: 92%;
    background: #FFF;
    box-shadow: 2px 2px 10px #dbd9d9;
    border-radius: 20px;
    margin: 1rem auto;
    display: flex;
    justify-content: rà;
}

.plat:hover .animation_menu {
    display: flex;
}

.plat:hover .flex {
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition-duration: 0.5s;
}

.plat:hover .card {
    margin: 0 -18% 0 0;
    transition-duration: 0.5s;
}

.card:hover h3 {
    width: 82%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition-duration: 0.5s;
}

@keyframes slideLeft {
    from {
      width: 0%;
    }
    to {
      width: 18%;
    }
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

.plat1 {
    animation: fadein 2s;
}

.flex {
    width: 100%;
    display: flex;
}

h3 {
    font-size: 1.2em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.entree_descr {
    width: 90%;
    margin: 0 5px 0 0;
    color: grey;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.price {
    width: 12%;
    margin: 0;
    font-weight: 800;
}

.check {
    font-size: 1.5em;
    color: #FFF;
    animation: spinner-rotate 0.5s;
}

.bt{
    display: flex;
    justify-content: flex-start;
    width: 86%;
    border: none;
    border-radius: 22px;
    height: 70px;
    align-items: center;
    box-shadow: 0px 2px 3px 2px rgb(221, 216, 216);
    padding-left: 0px;
    padding-right: 0px;
    font-weight: bold;
    margin-top: 20px;
}

@media screen and (min-width: 460px){
    .bt{
        width: 379px;
    }
}

.a_bt{
    display: flex;
    justify-content: center;
}

.bt i{
    margin-left: 27px;
    margin-right: 27px;
    font-size: 17px;
}

.violet i{
    color: rgb(91, 7, 138);
}

.bt span{
    display: inline;
    position: relative;
    right: 10px;
    font-size: 17px;
    width: 25px;
    height: 25px;
    color: white;
    background-color: rgb(147, 86, 220);
    border-radius: 60px;
    font-weight: normal;
    padding-left: 1.3px;
}

.num p{
    margin: auto;
    margin-right: 2.5px;
    margin-top: 2px;
}

.un{
    margin-right: 2px;
}

.bloc_02 h1{
    align-self: flex-start;
    margin-left: 30px;
    padding-top: 35px;
}

.bloc_03{
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    align-items: center;
    background-color: rgb(246, 246, 246);
    padding-top: 50px;
    padding-bottom: 50px;
}

.carre_nv{
    display: inline;
    position: absolute;
    right: 10px;
    color: rgb(56, 145, 119);
    background-color: rgb(153, 226, 208);
    width: 80px;
    height: 30px;
    margin-top: 10px;
    text-align: center;
}

.carre_nv p{
    margin-top: 4px;
}

.rest img{
    width: 340px;
    height: 160px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.rest {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0px 2px 3px 2px rgb(212, 206, 206);
    width: 340px;
    margin-bottom: 20px;
    background-color: white;
    position: relative;
}

.rest:focus
{
    outline:0;
} 

.rest:link 
{ 
    text-decoration:none; 
} 

.text_rest strong{
    font-size: 18px;
}
.heart i{
    position: relative;
    bottom: 44px;
    left: 100px;
    font-size: 25px;
    color: black;
}

.jauge_remplissage i:hover::before{
    transition: all 0.5s linear 0.3s;
    font-weight: bold;
    color: violet;
    cursor: pointer;
    height: 100%;
}

.text_rest i{
    color: linear-gradient(rgb(221,110,218),rgb(161,91,220));
}

@media screen and (max-width: 350px)
{
    .rest img{
        width: 270px;
        height: 160px;
    }
    .rest{
        width: 270px;
    }
    .fran i {
        margin-left: 105px;
    }
    .text_rest strong{
        font-size: 14px;
    }
    .text_rest span p{
        font-size: 13px;
    }
    .jauge_remplissage i{
        margin-left: 100px;
        font-size: 18px;
    }
}

.text_rest{
    align-self: flex-start;
    line-height: 13px;
    color: #000000;
    display: flex;
    align-items: center;
    padding-left: 20px;
    text-decoration: none;
}

.text_rest i{
    margin-left: 130px;
    font-size: 20px;
}

.text_rest i:link{
    color: violet;
}

.text_rest:link{
    text-decoration: none;
}

.fran i{
    margin-left: 165px;
}

.bloc_03 h2{
    align-self: flex-start;
    padding-left: 20px;
    padding-bottom: 10px;
}

footer{
    padding-top: 40px;
    background-color: rgb(53, 53, 53);
    color: #ffffff;
    padding-bottom: 35px;
    line-height: 1px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

footer a{
    text-decoration: none;
    color: #ffffff;
}

footer img{
    width: 33%;
    color: #ffffff;
    padding-left: 20px;
    padding-bottom: 30px;
    filter: invert(100%) sepia(0%) saturate(21%) hue-rotate(43deg) brightness(105%) contrast(100%);
}

footer img:link{
    fill: white;
}

.elem_footer{
    display: flex;
    flex-direction: row;
    align-items: center;
}

footer div{
    margin-left: 20px;
}

.two i{
    padding-right: 10px;
}

.one i {
    font-size: 18px;
    padding-right: 16px;
}
