
.logo {
    width: 30%;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

.spinner{
    display: unset;
    top: 8%;
    right: 36%;
}

.bt {
    width: 90%;
}

.bouton_recherche{
    display: flex;
    flex-direction: row;
}

.bloc_02 div {
    width: 100%;
    display: flex;
    padding-bottom: 20px;
    flex-direction: row;
    align-items: center;
}

.bloc_03 {
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    align-items: center;
    background-color: rgb(246, 246, 246);
    padding-top: 50px;
    padding-bottom: 50px;
    flex-wrap: wrap;
    justify-content: center;
}

.rest{
    margin-left: 20px;
}

footer img{
    width: 15%;
}

footer{
    align-items: center;
}