body{
    width: 100%;
    margin: auto;
    font-family: 'Roboto', sans-serif;   
}

header{
    display: flex;
    flex-direction: row;
    padding-top: 23px;
}

header a{
    display: inline;
    position: absolute;
    left: 20px;
    color: #000000;
    top: 28px;
}

.logo{
    width:100%;
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}

.logo img{
    width: 44%;
}

.bloc_01 img{
    width: 100%;
    height: 300px;
}

.bloc_01 div{
    background-color: rgb(246, 246, 246);
}

.bloc_01{
    position: relative;
}

body{
    background-color: rgb(246, 246, 246);
}

.effet{
    display: block;
    position: relative;
}

.jauge_remplissage i:hover::before{
    transition: all 0.5s linear 0.3s;
    font-weight: bold;
    color: violet;
    cursor: pointer;
    height: 100%;
}

.nom_rest {
    display: inline;
    position: absolute;
    top: 250px;
    left: 0px;
    background-color: rgb(246, 246, 246);
    width: 100%;
    height: 100px;
    margin-top: 60px;
    border-radius: 60px;
    top: 185px;
}

.nom_rest i {
    display: inline;
    position: absolute;
    top: 35px;
    left: 300px;
    font-size: 25px;
}

.nom_rest p {
    display: inline;
    position: absolute;
    top: px;
    left: 20px;
    font-size: 28px;
    font-family: 'Shrikhand', cursive;
}

.text_plat strong p {
    font-size: 17px;
    margin-bottom: 3px;
    padding-right: 65px;
}

.text_plat{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    line-height: 10px;
    margin-top: 12px;
    background-color: #ffffff;
    border-radius: 15px;
    padding-left: 10px;
    box-shadow: 0px 2px 3px 2px rgb(221, 216, 216);
    opacity: 0;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.g_prix{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.nom_plat{
    width: 100%; 
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; 
}

.partie_d{
    background-color: rgb(153,226,208);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    transition: width 0.3s linear 0s;
}

.text_plat span {
    border-radius: 50px;
    background-color: #99e2d0;
    color: #ffffff;
    position: absolute;
    top: 25px;
    visibility: visible;
    transition: margin 0.3s linear 0s;
    left: 80%;
    margin-left: 53px;
}

.text_plat:hover .partie_d
{
    width: 77px;
}

.partie_d{
    width: 0;
}

.text_plat:hover span
{
    margin-left: 30px;
    visibility: visible;
    animation: tourne 0.3s;
    animation-delay: 0.2s;
}

.text_plat span{
    margin-left: 53px;
    visibility: hidden;
}


@keyframes tourne {
    0% {
       transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.un{
    animation: retard 1s;
    animation-fill-mode: forwards;
    animation-delay: 3.5s;
}

.deux{
    animation: retard_deux 1s;
    animation-delay: 3.9s;
    animation-fill-mode: forwards;
}

.trois{
    animation: retard_deux 1s;
    animation-delay: 4.3s;
    animation-fill-mode: forwards;
}

@keyframes retard {
    0% {
        margin-top: 40px;
       opacity: 0;
     }
     100% {
         margin-top: 12;
         opacity: 1;
     }
}

@keyframes retard_deux {
    0% {
        margin-top: 40px;
       opacity: 0;
     }
     100% {
         margin-top: 12;
         opacity: 1;
     }
 }

@keyframes retard_trois {
    0% {
        margin-top: 40px;
       opacity: 0;
     }
     100% {
         margin-top: 12;
         opacity: 1;
     }
 }

.bloc_02{
    margin-top: 43px;
    background-color: rgb(246, 246, 246);
}

.bordure{
    width: 40px;
    height: 2px;
    background-color: #99E2D0;
}

.titre_class{
    margin-left: 20px;
}

.titre_class p{
    font-size: 17px;
    margin-bottom: 7px;
    font-weight: 300;
}

.text_plat p{
    font-size: 14px;
    padding-right: 10px;
}

.bouton{
    font-family: 'Roboto', sans-serif;
    height: 50px;
    width: 216px;
    margin-top: 50px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
    background: linear-gradient(rgb(221,110,218),rgb(161,91,220));
    border: none;
    border-radius: 50px;
    box-shadow: 0px 2px 3px 2px rgb(221, 216, 216);
}

.bouton:hover {
    box-shadow: 4px 4px 5px 4px rgb(168, 164, 164);
    background: linear-gradient(rgb(226, 132, 223),rgb(181, 120, 231));
}

footer{
    padding-top: 40px;
    background-color: rgb(53, 53, 53);
    color: #ffffff;
    padding-bottom: 35px;
    line-height: 1px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

footer a{
    text-decoration: none;
    color: #ffffff;
}

footer img{
    width: 33%;
    color: #ffffff;
    padding-left: 20px;
    padding-bottom: 30px;
    filter: invert(100%) sepia(0%) saturate(21%) hue-rotate(43deg) brightness(105%) contrast(100%);
}

footer img:link{
    fill: white;
}

.elem_footer{
    display: flex;
    flex-direction: row;
    align-items: center;
}

footer div{
    margin-left: 20px;
}

.elem_footer i{
    padding-right: 10px;
}