
.logo img {
    width: 15%;
}

.bloc_01 img {
    width: 50%;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text_plat {
    width: 28%;
}

.bloc_02 {
    display: flex;
    flex-direction: column;
}

.bloc_menu{
    display: flex;
    flex-direction: row;
}

footer{
    align-items: center;
}

footer img {
    width: 13%;
}